.login-container {
    display: flex;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
  }
  
  .login-left {
    flex: 1;
    background: linear-gradient(to top, #005aaf, #ffffff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .login-left h1 {
    font-size: 32px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .login-image {
    max-width: 80%;
    height: auto;
  }
  
  .login-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
  
  .login-form {
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .logo {
    width: 40px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    color: #00aaff;
    margin-bottom: 10px;
  }
  
  p {
    color: #777;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .forgot-password {
    text-align: right;
    margin-bottom: 20px;
  }
  
  .forgot-password a {
    color: #005aaf;
    text-decoration: none;
    font-size: 14px;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  
  .btn-login {
    width: 100%;
    padding: 10px;
    background-color: #005aaf;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-login:hover {
    background-color: #357ab8;
  }
  